#services-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    align-self: center;
  }
  
  /* .animate__animated.animate__slideInUp {
    --animate-delay: 10s;
  } */
  
  .section-header{
    color: white;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    #services-container{
      flex-direction: column !important;
      
    }
    .section-header{
      text-align: center !important;
      margin-bottom: 10%;
    }
  }
  
  #services{
    margin-top: 75%;
  }
  
  #testimonials{
    margin-top: 5%;
  }