#services-container{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    align-self: center;
  }
  
  /* .animate__animated.animate__slideInUp {
    --animate-delay: 10s;
  } */
  
  .section-header{
    color: white;
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    #services-container{
      flex-direction: column !important;
      
    }
    .section-header{
      text-align: center !important;
      margin-bottom: 10%;
    }
    .blob{
      visibility: hidden;
    }
  }


  #blob-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #services{
    /* border: 1px solid green; */
    margin-top: 10%;
    /* background-image: url('../../../public/blob2.png');
    background-repeat: no-repeat;
    overflow:visible;
    background-position-y:center;
    background-size:85%; */
  }
  
  #testimonials{
    margin-top: 5%;
  }

  .apple_button{
    background-color: black;
    border: 2px solid black;
  }

  .apple_button:hover{
    background-image:none;
    background-color: white;
    color: black;
  }

  .apple_button:hover #contact{
    color: black;
  }

  #contact{
    color: white;
    text-decoration: none;
  }