.about-card{
    width: 100%;
    border-radius: 25px;
    padding: 5%;
}


.right-card{
    background: -webkit-linear-gradient(-45deg, white, #f8b9f1);
}

.left-card{
    background: -webkit-linear-gradient(180deg, white, #f8b9f1);
}
