@media only screen and (max-width: 600px) {
    #main-footer{
        font-size: small;
    }

    #main-footer h4{
        font-size:medium;
    }
}

#main-footer{
    background-color: #171717;
    padding: 2%;
    padding-bottom: 5%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
}

#main-footer h4{
    font-weight:bold;
}

#media{
    display: flex;
    flex-direction: column;
}

.image-space{
    margin-right: 5%;
}

.footer-text-items{
    margin: -2%;
}

.footer-sec{
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.footer-sub{
    /* border: 1px solid red; */
    height: 20vh;
    text-align: left;
}


/* Un-comment to see borders */

/* .footer-sec * {
    border: 1px solid red;
}

#main-footer * {
    border: 1px solid green;
    width: auto;
} */



#organize-name{
    display: flex;
    flex-direction: column;
    align-self: center;
    /* justify-content:space-evenly; */
    font-weight: bold;
    width: min-content;
    justify-content: space-between;
    flex: 0 0 10%;
    text-align: left;
}
