.main-intro-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
    margin-top: 10%;
}

.main-intro-card-container h1{
    color: white;
    font-weight: bold;
}

.pink-card{
    background: -webkit-linear-gradient(270deg, white, #ffd5fa);
    width: 100%;
    border-radius: 25px;
    padding: 5%;
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .main-intro-card-container{
        margin-top: -45%;
        margin-bottom: 50%;
    }
    .diff-top-margin{
        margin-top: -15% !important;
        margin-bottom: 10%;
    }

    .main-intro-card-container h1{
        background-image: radial-gradient(circle at 50% 20%, hsl(0, 100%, 97%) 24%, hsl(349, 100%, 96%) 36%, hsl(0deg 100% 93%) 100%);
        border-radius: 25px;
        padding: 15%;
        width: -moz-fit-content;
        width: fit-content;
        color: black;
    }
}