.main-intro-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    flex-direction: column;
    margin-top: 10%;
}

.main-intro-card-container h1{
    color: white;
    font-weight: bold;
}

.pink-card{
    background: -webkit-linear-gradient(-45deg, white, #f8b9f1);
    width: 100%;
    border-radius: 25px;
    padding: 5%;
    font-size: large;
}

@media only screen and (max-width: 600px) {
    .main-intro-card-container{
        margin-top: -45%;
        margin-bottom: 50%;
    }
    .diff-top-margin{
        margin-top: -15% !important;
        margin-bottom: 10%;
    }

    .main-intro-card-container h1{
        background-image: radial-gradient(circle at 50% 20%, hsl(323.3, 93.1%, 88.6%) 0%, hsl(335, 58.1%, 87.8%) 15%, hsl(0, 100%, 90.6%) 24%, hsl(348.8, 100%, 90.6%) 36%, hsl(0, 100%, 92%) 56%, hsl(0, 100%, 83.3%) 100%);
        border-radius: 20%;
        padding: 15%;
        width: fit-content;
    }
}