body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
  margin-top: 20%;
}

@media only screen and (max-width: 500px) {
  .landing-title{
    font-size: 200% !important;
  }
}

.landing-title{
  font-size:350%;
  /* mix-blend-mode:difference; */
  /* background: -webkit-linear-gradient(#5edf6d, #000000); */
  background: -webkit-linear-gradient(16deg, #5c4e60, #5a577f, #A33E7E, #B34074, #0D0D0D);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color:transparent; 
  font-weight: bold;
}

#bottom-title{
  padding-bottom: 5px;
}

.sub-title{
  color: grey;
  mix-blend-mode: difference;
  font-size: 150%;
}

#landing Button{
  margin-top: 5%;
}

body{
  background-image: url('../public/npink.png');
  /* background-size: 61.1%; */
  background-repeat: no-repeat;
  background-position:center;
  background-position-y:-15rem;
}